{% extends 'base.html' %} {% block title %}Sign Up{% endblock %} 
{% block content %}
<main class="container py-5 mt-5">
  <div class="row justify-content-center">
    <div class="col-md-6">
      <div class="card shadow border-0">
        <div class="card-body">
          <h2 class="text-center mb-4" style="color: #121212">Crear Cuenta</h2>

          <!-- Mostrar errores si existen -->
          {% if error %}
          <div class="alert alert-danger" role="alert">{{ error }}</div>
          {% endif %}

          <!-- Formulario -->
          <form name="Formulario" method="POST" novalidate>
            {% csrf_token %}

            <!-- Campo para el nombre de usuario -->
            <div class="mb-3">
              <label for="username" class="form-label">Nombre de Usuario</label>
              <input
                type="text"
                class="form-control"
                id="username"
                name="username"
                placeholder="Ingresa tu nombre de usuario"
                required
              />
            </div>

            <!-- Campo para la contraseña -->
            <div class="mb-3">
              <label for="password1" class="form-label">Contraseña</label>
              <input
                type="password"
                class="form-control"
                id="password1"
                name="password1"
                placeholder="Ingresa tu contraseña"
                required
              />
            </div>

            <!-- Campo para confirmar la contraseña -->
            <div class="mb-3">
              <label for="password2" class="form-label"
                >Confirmar Contraseña</label
              >
              <input
                type="password"
                class="form-control"
                id="password2"
                name="password2"
                placeholder="Confirma tu contraseña"
                required
              />
            </div>

            <div class="d-grid mt-4">
              <button
                type="submit"
                class="btn btn-dark"
                style="background-color: #121212; border-color: #121212"
              >
                Registrarse
              </button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</main>
{% endblock %}
